@import "../../Data/varibles.scss";

@mixin align ($hor, $ver) {
    display: flex;
    align-items: $ver;
    justify-content: $hor;
}

header {

    width: 95%;
    height: 85px;
    margin-left: 2.5%;
    @include align(center, center);
    background: #FFFFFF;


    .logo {
        width: 20%;
        // background: red;
        @include align(center, center)
    }

    .parameters {
        width: 60%;

        // background: blue;
        @include align(center, center);

        .item {
            margin: 0 10px;
            cursor: pointer;
            color: #717171;
            @include align(center, center);
        }

        .active {
            // text-decoration: underline green 3px;
            background: rgba(159, 247, 159, 0.386);
            padding: 0 5px;
            border-bottom: 3px solid green;
        }
    }

    .icons {
        // width: ;
        width: 160px;
        margin-left: 5%;
        margin-right: 5%;
        @include align(space-between, center);


        // background: red;

        i {
            width: 40px;
            height: 40px;
            background: #E5F2E9;
            padding: 3px;
            border-radius: 3px;
            @include align(center, center);

            flex-wrap: wrap;

            svg {
                width: 80%;
            }
        }
    }
}


@media (min-width: 1000px) {
    .phoneDelete {

        display: block;
    }

    .phoneadd {
        display: none !important;
    }
}


@media (max-width: 1000px) {


    .phoneDelete {
        display: none !important;
    }

    .phoneadd {
        display: block;
    }

    .noi {
        background: none !important;
    }

    header {
        width: 100% !important;
        margin-left: 0;
        // background: red;

        @include align(space-between, center);

        .icons {
            // background: bisque;
            // width: auto !important;
            width: auto;
            @include align(space-around, center);

            i {
                margin: 0 5px;
                width: 24px;
                height: 24px;
            }
        }

        .logo {
            // background: black;
            width: auto;
        }
    }
}