.branch-container {
    width: 288px;
    height: 344px;
    background: white;
    border: 2px solid rgba(8, 121, 42, 0.2);
    border-radius: 8px;
    float: left;
    overflow: hidden;
    position: relative;

    @media (max-width:768px) {
        width: 90%;
        height: 80px;
        display: flex;
        direction: rtl;
        // justify-content:;
    }

    img {
        width: 288px;
        height: 208px;
        background: gray;
        overflow: hidden;
        transition: .5s;
        object-fit: cover;

        @media (max-width:768px) {
            width: 40%;
            height: 100%;
            float: left;
        }

    }

    .Detail {
        height: 136px;

        @media (max-width:768px) {
            width: 60%;
            height: 100%;
            float: left;


            display: flex;
            flex-wrap: wrap;
        }

        .title {
            text-align: center;
            margin-top: 15px;

            @media (max-width:768px) {
                all: unset;
                width: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }

        .address {
            width: 80%;
            // background: blue;
            margin-left: 10%;
            margin-top: 5px;
            text-align: center;
            text-overflow: ellipsis;
            direction: rtl;
            white-space: wrap;
            overflow: hidden;

            @media (max-width:768px) {
                all: unset;
                width: 100%;
                font-weight: 300;
                font-size: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

        }
    }

    .hiddenbutton {
        height: 36px;
        width: 100%;
        // background: red;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:768px) {
            display: none;
        }
    }
}

.SHariw {
    height: 100px;
    opacity: 0;
    width: 100%;
    left: 0;
    // background: red;
    position: absolute;
    z-index: 9999;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 58px;
        height: 58px;
    }

    @media (max-width:768px) {
        display: none;
    }
}

@media (min-width:768px) {
    .branch-container:hover img {
        height: 100px;
        transition: .5s;
        filter: blur(5px);
    }
    .branch-container:hover .SHariw {
    
        opacity: 1;
    
    }
}