@media (min-width:1300px) {
    .branch-container {
        width: 288px;
        height: 344px;
        background: white;
        border: 2px solid rgba(8, 121, 42, 0.2);
        border-radius: 8px;
        float: left;
        overflow: hidden;

        .image {
            width: 288px;
            height: 208px;
            background: gray;
            overflow: hidden;
            transition: .5s;

            img {
                width: 288px;
                height: 208px;
            }
        }



        .Detail {
            height: 136px;

            .title {
                text-align: center;
                margin-top: 15px;
            }

            .address {
                width: 80%;
                // background: red;
                margin-left: 10%;
                margin-top: 5px;
                text-align: center;
                text-overflow: ellipsis;
                direction: rtl;
                white-space: wrap;
                overflow: hidden;

            }
        }

        .hiddenbutton {
            height: 36px;
            width: 100%;
            // background: red;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    .branch-container:hover .image {
        height: 100px;

        img {
            transition: .5s;
            filter: blur(5px);
        }
    }

}


@media (max-width:1300px ) {
    .branch-container {
        width: 175px;
        height: 260px;
        background: white;
        border: 2px solid rgba(8, 121, 42, 0.2);
        border-radius: 8px;
        float: left;
        overflow: hidden;
        font-size: 14px;

        .image {
            width: 175px;
            height: 156px;
            background: gray;
            overflow: hidden;
            transition: .5s;

            img {
                width: 175px;
                height: 156px;
            }
        }



        .Detail {
            height: 104px;

            .title {
                text-align: center;
                margin-top: 15px;
            }

            .address {
                width: 80%;
                // background: red;
                margin-left: 10%;
                margin-top: 5px;
                text-align: center;
                text-overflow: ellipsis;
                direction: rtl;
                white-space: wrap;
                overflow: hidden;
                font-size: 10px;

            }
        }

        .hiddenbutton {
            height: 36px;
            width: 100%;
            // background: red;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


    .branch-container:hover .image {
        height: 100px;

        img {
            transition: .5s;
            filter: blur(5px);
        }
    }
}



@media (max-width:768px) {
    .branch-container {
        width: 318px;
        height: 80px;
        background: white;
        border: 2px solid rgba(8, 121, 42, 0.2);
        border-radius: 8px;
        float: left;
        overflow: hidden;
        font-size: 14px;
        direction: rtl;

        .image {
            width: 40%;
            height: 100%;
            background: gray;
            overflow: hidden;
            transition: .5s;
            float: right;

            img {
                width: 100%;
                height: 100%;
            }
        }



        .Detail {
            height: 100%;
            width: 60%;
            float: right;
            // background: red;

            .title {
                text-align: center;
                // margin-top: 15px;
                margin: 0;

            }

            .address {
                width: 80%;
                // background: gray;
                margin-right: 10%;
                text-align: center;
                text-overflow: ellipsis;
                direction: rtl;
                white-space: wrap;
                overflow: hidden;
                font-size: 10px;


            }
        }

        .hiddenbutton {
            height: 36px;
            width: 100%;
            // background: red;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }



}