.findtarkh {
    width: 95%;
    margin-left: 2.5%;
    height: auto;
    // background: red;
    float: left;
    gap: 15px;
    float: left;
    padding: 45px 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.isloadingfetching {
    background: red;
    height: 120px;
    margin: 15px;
    margin-left: 2.5%;
    border-radius: 4px;
    animation: animation 1s infinite linear;
}