.findtarkh {
    width: 95%;
    margin-left: 2.5%;
    height: auto;
    // background: red;
    float: left;
    gap: 15px;
    float: left;
    padding: 45px 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

