@import "../../Data/varibles.scss";

.fieldset {
    width: 320px;
    height: 32px;
    direction: rtl;
    border-radius: 4px;
    @include align(space-around, center);
    border: 2px solid black;
    // background: red;

    .nohere {
        border: none;
        background: none;
        @include align(center, center);
        cursor: pointer;
    }




    input {
        width: calc(100% - 60px);

        border: none;
        outline: none;
        background: none;
        font-size: 14px;
        // background: red;

    }
}



.sizeinp-32 {
    width: 320px;
    height: 32px;
}

.sizeinp-40 {
    width: 336px;
    height: 40px;
}

.sizeinp-48 {
    width: 336px;
    height: 48px;
}

.sizeinp-56 {
    width: 336px;
    height: 56px;
}

.darkmode {
    color: black;
}

.lightmode {
    color: white;
}